{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'account/css/login.css'%}">
{% endblock 'head' %}
    {% block 'title'%}Login{% endblock 'title' %}

{% block 'body' %}
    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 side-image">                       
                    <div class="text">
                        <p>Task Manager</p>
                        <p><i>Gerenciamento de Tarefas</i></p>
                    </div>                    
                </div>
                <div class="col-md-6 right">                    
                    <div class="input-box">                    
                        <header>Login</header>
                        <form action="{% url 'account:log_in' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-field">
                                <input type="text" class="input" name="email" required="" autocomplete="off">
                                <label for="email">Email</label> 
                            </div> 
                            <div class="input-field">
                                <input type="password" class="input" name="password" required="">
                                <label for="password">Password</label>
                            </div> 
                            <div class="input-field">                                
                                <input type="submit" class="submit" value="Login">
                            </div> 
                            <div class="signin">
                                <span>Ainda não possui acesso? <a href="{% url 'account:register' %}">Registre-se aqui</a></span>
                            </div>
                        </form>
                    </div>  
                </div>
            </div>
        </div>
    </div>
{% endblock 'body' %}
