{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'account/css/register.css' %}">
{% endblock 'head' %}

{% block 'title' %}Registre-se{% endblock 'title' %}

{% block 'body' %}

    <div class="container main">
        <div class="row justify-content-center">
            <header>Registre-se</header>
            <form action="{% url 'account:log_in' %}" method="POST">
                {% csrf_token %}

                <div class="col">
                    <div class="input-box">              
                        <div class="input-field">
                            <input type="text" class="input" name="email" required="" autocomplete="off">
                            <label for="email">E-mail</label> 
                        </div> 
                        <div class="input-field">
                            <input type="password" class="input" name="password" required="">
                            <label for="password">Senha</label>
                        </div> 
                        <div class="input-field">                        
                            <input type="submit" class="submit" value="Entrar">
                        </div> 
                    </div>  
                    
                <div class="col">                
                    <div class="input-box">                
                        <form action="{% url 'account:log_in' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-field">
                                <input type="text" class="input" name="email" required="" autocomplete="off">
                                <label for="email">E-mail</label> 
                            </div> 
                            <div class="input-field">
                                <input type="password" class="input" name="password" required="">
                                <label for="password">Senha</label>
                            </div> 
                        <div class="signin">
                            <span>Já possui acesso? <a href="{% url 'account:log_in' %}">Faça o Login</a></span>
                        </div>
                    </div>  
                </div>
            </form>
        </div>
    </div>

{% endblock 'body' %}