{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'account/css/base.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js" defer></script>
    
    {% block 'head' %}
    {% endblock 'head' %}

    <title>{% block 'title' %}{% endblock 'title' %}</title>
    
  </head>

  <body>

    {% block 'body' %}
    {% endblock 'body' %}

  </body>
</html>